<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jk.mapper.CouponMapper">

    <select id="queryCouponList" resultType="com.jk.model.Coupon">
    select * from t_coupon
        <where>
            <if test="c.name != null">
                 and name like '%${c.name}%'
            </if>
            <if test="c.sdqDate != null">
                and endDate &gt; #{c.sdqDate}
            </if>
            <if test="c.edqDate != null">
                and endDate &lt; #{c.edqDate}
            </if>
        </where>
    limit #{start},#{pageSize}
  </select>

    <select id="queryCouponCount" resultType="long">
    select count(*) from t_coupon
        <where>
            <if test="c.name != null">
                and name like '%${c.name}%'
            </if>
        </where>
  </select>




    <delete id="delCoupon">
              delete from t_coupon where id = #{id}
    </delete>


    <select id="queryAllCouponById" resultType="com.jk.model.Coupon">
    select * from t_coupon  where id=#{id}
  </select>

    <insert id="saveCoupon">
              insert into t_coupon (id,faceValue,name,maxPrice,startDate,endDate,status,cnumber,ccount)
              values (#{id},#{faceValue},#{name},#{maxPrice},#{startDate},#{endDate},#{status},#{cnumber},#{ccount})
    </insert>
    <update id="editCoupon">
        update t_coupon set
        faceValue=#{faceValue},
        name=#{name},
        maxPrice=#{maxPrice},
        startDate=#{startDate},
        endDate=#{endDate},
        ccount=#{ccount}
        where id=#{id}
    </update>




</mapper>
