<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jk.mapper.GoodsMapper">
    <!--审核驳回-->
    <update id="auditing">
			update  t_fruits_info set auditing = 3 ,reason=#{reason} where id = #{id}
	</update>

<!--审核驳回查询-->
    <select id="queryAllPetById" resultType="com.jk.model.FruitsInfo">
     select * from t_fruits_info  where id=#{id}
    </select>


    <!--审核通过-->
    <update id="approved">
			update  t_fruits_info set auditing = 2 where id = #{id}
	</update>


    <!--商品审核驳回查看-->
    <select id="queryGoodsRejectedList" resultType="com.jk.model.FruitsInfo">
             SELECT t1.`id`,t1.`title`,t1.`present`,t1.`place`,t1.`freight`,t1.`norms`,t1.`num`,t1.`price`,t2.`typeName`,t1.`auditing`,t1.`reason`

              FROM t_fruits_info t1, `t_fruits_type` t2

              WHERE t1.`typeId`=t2.`id`

              AND t1.auditing =3

           limit #{start},#{pageSize}
    </select>

    <select id="queryGoodsRejectedCount" resultType="long">
         select count(*) from t_fruits_info
    </select>

    <!--商品审核通过查看-->
    <select id="queryGoodsThroughList" resultType="com.jk.model.FruitsInfo">
             SELECT t1.`id`,t1.`title`,t1.`present`,t1.`place`,t1.`freight`,t1.`norms`,t1.`num`,t1.`price`,t2.`typeName`,t1.`auditing`,t1.`reason`

              FROM t_fruits_info t1, `t_fruits_type` t2

              WHERE t1.`typeId`=t2.`id`

              AND t1.auditing =2

           limit #{start},#{pageSize}
    </select>

    <select id="queryGoodsThroughCount" resultType="long">
         select count(*) from t_fruits_info
    </select>


    <!--商品未审核查看-->
    <select id="queryGoodsList" resultType="com.jk.model.FruitsInfo">
             SELECT t1.`id`,t1.`title`,t1.`present`,t1.`place`,t1.`freight`,t1.`norms`,t1.`num`,t1.`price`,t2.`typeName`,t1.`auditing`,t1.`reason`

              FROM t_fruits_info t1, `t_fruits_type` t2

              WHERE t1.`typeId`=t2.`id` AND t1.auditing =1

           limit #{start},#{pageSize}
    </select>

    <select id="queryGoodsCount" resultType="long">
         select count(*) from t_fruits_info
    </select>

</mapper>