<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jk.mapper.UserMapper">



    <select id="queryPetTypePage" resultType="com.jk.model.PetType">
    select * from t_pet_type
  </select>

    <select id="queryTreeMenu" resultType="com.jk.model.TreeMenu">
    select * from t_menu where pid=#{pid}
  </select>


    <select id="queryPetList" resultType="com.jk.model.PetType">
    select * from t_pet_type  limit #{start},#{pageSize}
  </select>

    <select id="queryPetCount" resultType="long">
    select count(*) from t_pet_type
  </select>

  <insert id="savePet">
        insert into t_pet_type values(#{ptid},#{pttype},#{ptname})
    </insert>

<delete id="delPet">

    delete  from t_pet_type where ptid=#{ptid}

</delete>


    <select id="queryAllPetById" resultType="com.jk.model.PetType">
    select * from t_pet_type  where ptid=#{ptid}
  </select>

    <update id="editPet">
        update t_pet_type set
        pttype=#{pttype},
        ptname=#{ptname}
        where ptid=#{ptid}
    </update>

</mapper>