<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../layui/css/layui.css" media="all">

    <script src="../layui/layui.js"></script>
    <script src="../js/jquery-1.8.0.js"></script>
</head>
<body>
<form class="layui-form" id="editPet">
    <input type="hidden" name="id" th:value="${coupon.id}"/>



    <div class="layui-form-item">
        <label class="layui-form-label"> <span class="x-red">*</span>面值(元) </label>
        <div class="layui-input-inline">
            <input type="text" id="description" name="faceValue"
                   th:value="${coupon.faceValue}"     autocomplete="on" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"> <span class="x-red">*</span>优惠券名称 </label>
        <div class="layui-input-inline">
            <input type="text" id="descriptions" name="name"
                   th:value="${coupon.name}"    autocomplete="on" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"> <span class="x-red">*</span>使用条件 </label>
        <div class="layui-input-inline">
            <input type="text" id="descriptions1" name="maxPrice"
                   th:value="${coupon.maxPrice}"     autocomplete="on" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"> <span class="x-red">*</span>发放时间 </label>
        <div class="layui-input-inline">
            <input type="text" id="d1" name="startDate"
                   th:value="${coupon.startDate}"   autocomplete="on" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"> <span class="x-red">*</span>到期时间 </label>
        <div class="layui-input-inline">
            <input type="text" id="d2" name="endDate"
                   th:value="${coupon.endDate}"    autocomplete="on" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label"> <span class="x-red">*</span>发放数量 </label>
        <div class="layui-input-inline">
            <input type="text" id="cc221" name="ccount"
                   th:value="${coupon.ccount}"     autocomplete="on" class="layui-input">
        </div>
    </div>





    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" onclick="editCoupon()">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script src="../layui/lay/modules/form.js"></script>

<script>

    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#d1' //指定元素
        });

        laydate.render({
            elem: '#d2' //指定元素
        });
    });


    function editCoupon() {

        $.ajax({
            url:'/yx/editCoupon',
            dataType:'json',
            type:'post',
            data:$('#editPet').serialize(),
            success:function(){
                parent.reloadData();
            }
        })
    }
</script>

</body>
</html>